# Copyright (c) 2024 CloudZero - ALL RIGHTS RESERVED - PROPRIETARY AND CONFIDENTIAL
# Unauthorized copying of this file and/or project, via any medium is strictly prohibited.
# Direct all questions to legal@cloudzero.com

pulumi>=3.0.0,<4.0.0
pulumi-aws>=6.0.0,<7.0.0
pulumi-eks>=2.0.0,<3.0.0
pulumi-awsx>=2.0.0,<3.0.0

# Linting and Formatting
black==22.3.0
ruff==0.0.284